@font-face {
	font-family: 'Futura PT light';
	src: url("../font/FuturaPTLight.otf");
}

@font-face {
	font-family: 'Futura PT medium';
	src: url("../font/FuturaPTMedium.otf");
}

@font-face {
	font-family: 'Futura PT bold';
	src: url("../font/FuturaPTBold.otf");
}

@font-face {
	font-family: 'Futura PT book';
	src: url("../font/FuturaPTBook.otf");
}

@font-face {
	font-family: 'Futura PT Heavy';
	src: url("../font/FuturaPTHeavy.otf");
}

@font-face {
    font-family: "Poppins Regular";;
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Light";
    src: url("../font/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins Light Italic";
    src: url("../font/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: "Poppins Extra Light";
    src: url("../font/Poppins-ExtraLight.ttf");
}

body {
    background: white;
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
	font-family: 'Poppins Regular';
	font-size: 16px;
	line-height: 1.5;
    margin: 0;
}

.yea {
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px #150025;
    background: rgb(229,103,253);
    background: -moz-linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    background: -webkit-linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    background: linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e567fd",endColorstr="#ff88b5",GradientType=1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dividk {
    width: 400px;
    color: white;
    position: absolute;
    text-align: center;
    align-self: center;
    font-size: 40px;
    color: #fff;
}

h1 {
    margin-bottom: 0;
}

.text {
    font-size: 18px;
}

button {
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #2f3136;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-95%);
}