
:root {
    --purpleish: rgba(229,103,253,1);
    --pink: rgba(255,136,181,1);
    --footer: #292b2f;
    --background: #2f3136;
    --subbackground: #202225;
}

::-moz-selection {
    color: var(--subbackground);
    background: var(--pink);
  }
  
  ::selection {
    color: var(--subbackground);
    background: var(--pink);
  }

@font-face {
	font-family: 'Futura PT light';
	src: url("../font/FuturaPTLight.otf");
}

@font-face {
	font-family: 'Futura PT medium';
	src: url("../font/FuturaPTMedium.otf");
}

@font-face {
	font-family: 'Futura PT bold';
	src: url("../font/FuturaPTBold.otf");
}

@font-face {
	font-family: 'Futura PT book';
	src: url("../font/FuturaPTBook.otf");
}

@font-face {
	font-family: 'Futura PT Heavy';
	src: url("../font/FuturaPTHeavy.otf");
}

@font-face {
    font-family: "Poppins Regular";;
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Light";
    src: url("../font/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins Light Italic";
    src: url("../font/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: "Poppins Extra Light";
    src: url("../font/Poppins-ExtraLight.ttf");
}

body {
    background: black;
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
	font-family: 'Poppins Regular';
	font-size: 16px;
	line-height: 1.5;
}

/* Reset style */
* {
	margin: 0;
	padding: 0;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  ::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#TopSection {
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px #150025;
    background: rgb(229,103,253);
    background: -moz-linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    background: -webkit-linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    background: linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e567fd",endColorstr="#ff88b5",GradientType=1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#TopSection .logo {
    width: auto;
    height: 100px;
    position: absolute;
    text-align: center;
    align-self: center;
}

#TopSection .name {
    width: 400px;
    color: white;
    position: absolute;
    text-align: center;
    align-self: center;
    font-size: 100px;
    color: #fff;
	font-family: 'Poppins Regular';
}

#TopSection .mscroll {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-95%);
}

#AboutMe {
    padding: 2%;
    background: #2f3136;
}

#AboutMe .aboutme_container {
    display: flex;
    justify-content: center;
}
 
#AboutMe .left {
    margin-right: 4%;
    width: 30%;
    background-color: #202225;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgb(26 26 26);
    width: 600px;
}

#AboutMe .title {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    color: #fff;
	font-size: 70px;
	font-family: 'Poppins Regular';
}

#AboutMe .text {
    text-align: left;
    overflow: auto;
    padding: 5%;
    margin: 0;
    color: #fff;
    font-family: "Poppins Light";
    font-size: 20px;
}

#AboutMe .socials {
    user-select: none;
    display: flex;
    justify-content: center;
    padding: 6px;
    padding-top: 6%;
}

#AboutMe .socialicon {
    width: 70px;
    height: auto;
    transition-property: transform;
    transition-duration: 300ms;
}

#AboutMe .socialicon:hover {
    transform: scale(1.2);
}

#AboutMe .right {
    display: flex;
    justify-content: flex-end;
}

#AboutMe .image1 {
    box-shadow: 0px 5px 5px rgb(26 26 26);
    border-radius: 8px;
}

footer{
    background: var(--footer);
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.footer-text{
    margin:0;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align:center;
    color: #fff;
	font-size: 17px;
	font-family: 'Poppins Extra Light';
}

.footer-heart{
    margin: 0;
    text-align: center;
    font-family: open sans, sans-serif;
    padding: 9px;
}

.footer-heart a{
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: .25em;
    text-decoration: none;
    margin: 0;
}

.footer-heart a:hover{
    color:#2196f3; 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.emoji{
    vertical-align: middle;
}


/* holy shit mobile things start here */


@media only screen and (max-width: 768px) {

    #TopSection .name {
        min-width: 100px;
        max-width: 350px;
        font-size: 80px;
    }

    #AboutMe {
        padding: 5%;
    }

    #AboutMe .title {
        font-size: 50px;
    }

    #AboutMe .left {
        margin-right: 0;
    }

    #AboutMe .text {
        padding: 6%;
    }

    #AboutMe .socials {
        padding-top: 0;
    }

    #AboutMe .socialicon {
        width: 60px;
    }
     
    #AboutMe .right {
        display: none;
    }

}

/* 404.html css */

#error body {
    background: white;
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
	font-family: 'Poppins Regular';
	font-size: 16px;
	line-height: 1.5;
    margin: 0;
}

#error .yea {
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px #150025;
    background: rgb(229,103,253);
    background: -moz-linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    background: -webkit-linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    background: linear-gradient(129deg, rgba(229,103,253,1) 24%, rgba(255,136,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e567fd",endColorstr="#ff88b5",GradientType=1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#error .dividk {
    width: 400px;
    color: white;
    position: absolute;
    text-align: center;
    align-self: center;
    font-size: 40px;
    color: #fff;
}

#error h1 {
    margin-bottom: 0;
}

#error .text {
    font-size: 18px;
}

#error button {
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #2f3136;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-95%);
    transition-duration: 0.3s;
}

#error button:hover {
    background-color: var(--subbackground);
}

@media only screen and (max-width: 768px) {

    #error .dividk {
        min-width: 100px;
        max-width: 350px;
    }
}