:root {
    --purpleish: rgba(229,103,253,1);
    --pink: rgba(255,136,181,1);
    --footer: #292b2f;
    --background: #2f3136;
    --subbackground: #202225;
}

body{
    margin: 0;
}

.vidja {
    position: absolute;
    text-align: center;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align:center;
}

.bean {
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px var(--udark);
    background: var(--background);
}

.thefuckisabutton{
    border-color: var(--subbackground);
    border-radius: 5px;
    background-color: rgb(113, 118, 122);
    margin-top: 1vh;
}
